
<div class="center-content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>ajout event</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="ajout">
            <mat-form-field class="example-full-width">
              <mat-label>id_event</mat-label>
              <input type="text" matInput placeholder="id event" value="" >
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>nom_event</mat-label>
              <input type="text" matInput placeholder="nom_event" value="">
              <mat-icon matSuffix>event</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>salle</mat-label>
                <input type="text" matInput placeholder="salle" value="">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>theme</mat-label>
                <input type="text" matInput placeholder="theme" value="">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>date</mat-label>
                <input type="date" matInput placeholder="date" value="">
                <mat-icon matSuffix>perm_contact_calendar </mat-icon>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>lien-event</mat-label>
                <input type="text" matInput placeholder="lien-event" value="">
                <mat-icon matSuffix>link </mat-icon>
              </mat-form-field>


            <button mat-button color="primary" >ajout</button>
          </mat-tab>


          
            

           
            
         
        </mat-tab-group>
  
      </mat-card-content>
  
    </mat-card>
  </div>